<!-- About section -->
<div class="section scrollspy section-gray-section" id="about">
  <div class="container">
    <h5 class="center-align">About</h5>
    <div class="row">
      <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
        <p>KRATOS Multiphysics ("Kratos") is a framework for building parallel, multi-disciplinary simulation software, aiming at modularity, extensibility, and high performance. Kratos is written in C++ and counts with an extensive Python interface. Kratos is free under BSD-4 <a href="https://github.com/KratosMultiphysics/Kratos/wiki/Licence">license</a> and can be used even in comercial softwares as it is. Many of its main applications are also free and BSD-4 licensed but each derived application can have its own propietary license.</p>

        <p>In this edition bla bla bla...</p>

        <p><a href="{{site.registration-page}}">Register for the workshop!</a></p>
      </div>
    </div>
  </div>
</div>
