<!-- Banner section -->
<div id="banner" class="banner">
  <div class="container" style="text-align:center">
    <img class="activator portrait-img" src="assets/img/logos/kratos.png" height="180" style="margin-top: 30px">
    <h2 class="center-align banner-heading">Workshop @ UNIPD</h2>
    <h4 class="center-align banner-subheading">November 6-8, 2024 - Padua, Italy</h4>
    <br />
    <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register Now</a>
    <br />
  </div>
</div>
