<!-- Banner section -->
<div class="section scrollspy section-white-section">
   <div class="container" style="text-align:center">
      <div class="row">
      <div class="col l8 offset-l2 m8 offset-m2 s12">
            <img class="responsive-img" src="assets/img/logos/kratos.png" style="margin-top: 30px">
         </div>
      </div>
      <h2 class="center-align banner-heading">Workshop<span class="hide-on-med-and-up"><br/></span> @ UNIPD</h2>
      <h4 class="center-align banner-subheading">November 6-8, 2024 <span class="hide-on-small-only">-</span><span class="hide-on-med-and-up"><br/></span> Padua, Italy</h4>
      <br />
      <a href="{{site.registration-page}}" class="btn-large" style="font-size: 20px; font-weight:bold; background-color: {{site.color.primary-dark}}">Register Now</a>
      <a href="https://github.com/KratosMultiphysics/Kratos" class="waves-effect waves-light btn-large" style="font-size: 20px; font-weight:bold; background-color: {{site.color.primary-dark}}">
         <i class="bi bi-github" style="font-size: 35px;"></i></a>
      <br />
   </div>
</div>
