<!-- Contributors section -->
<div class="section scrollspy section-white-section" id="sponsors">
  <div class="container">
    <h4 class="center-align section-white-header">List of Contributors</h4>
    <!--<div class="row">
      <div class="col s12 m12 l12 section-white-body">
        <p class="center">{{site.conference_title_short}} {{site.year}} is made possible by these organizations and companies.
        </p>
      </div>
    </div>-->
    <div class="row">
      <div class="col l2 m4 s4">
        <div class="container-logo">
          <a href="https://www.unipd.it/en/">
             <img class="responsive-img" src="assets/img/logos/unipd.png"></a>
        </div>
      </div>
      <div class="col l2 m4 s4">
        <div class="container-logo">
          <a href="https://www.cimne.com/">
             <img class="responsive-img" src="assets/img/logos/cimne2.png"></a>
        </div>
      </div>
      <div class="col l2 m4 s4">
        <div class="container-logo">
          <a href="https://www.tum.de/en/">
             <img class="responsive-img" src="assets/img/logos/tum.png"></a>
        </div>
      </div>
      <div class="col l2 m4 s4">
        <div class="container-logo">
          <a href="https://www.tu-braunschweig.de/en/">
             <img class="responsive-img" src="assets/img/logos/tubr.png"></a>
        </div>
      </div>
      <div class="col l2 m4 s4">
        <div class="container-logo">
          <a href="https://altair.com/">
             <img class="responsive-img" src="assets/img/logos/altair.png"></a>
        </div>
      </div>
      <div class="col l2 m4 s4">
        <div class="container-logo">
          <a href="https://www.deltares.nl/en">
             <img class="responsive-img" src="assets/img/logos/deltares.png"></a>
        </div>
      </div>
    </div>

  </div>
</div>
