<!-- Schedule section -->
<div class="section scrollspy section-gray-section" id="schedule">
   <div class="container">
      <h4 class="center-align section-gray-header">Schedule</h4>

      <div class="row">
         <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
            <ul class="tabs">
               <li class="tab col s4"><a class="active" href="#day1"><span  style="font-weight: bold; font-size: 20px;">Day 1</span></a></li>
               <li class="tab col s4"><a href="#day2"><span  style="font-weight: bold; font-size: 20px;">Day 2</span></a></li>
               <li class="tab col s4"><a href="#day3"><span  style="font-weight: bold; font-size: 20px;">Day 3</span></a></li>
            </ul>
         </div>

         <!--- First Day -->
         {% for day in site.data.schedule.days %}
         <div id="{{day.name}}" class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
            {% for session in day.sessions %}
            <table class="schedule">
               <tbody>
                  <tr>
                     <th>from {{session.start_time}} to {{session.end_time}}</th>
                     <td><h5>{{session.title}}</h5></td>
                  </tr>
                  {% if session.talks %}
                  {% for talk in session.talks %}
                  <tr>
                     <th>{{talk.start_time}}-{{talk.end_time}}</th>
                     {% for speaker in site.data.speakers %}
                     {% if speaker.talks %}
                     {% assign speaker_talks = speaker.talks | where:"label",{{talk.label}} %}
                     {% assign speaker_talks_size = speaker_talks | size %}
                     {% if speaker_talks_size > 0 %}
                     <td>
                     {% for speaker_talk in speaker_talks %}
                     <b>{{speaker.name}}</b>: <i>{{speaker_talk.title}}</i><br/>
                     {% endfor %}
                     </td>
                     {% endif %}
                     {% endif %}
                     {% endfor %}
                  </tr>
                  {% endfor %}
                  {% endif %}
               </tbody>
            </table>
            {% endfor %}
         </div>
         {% endfor %}
      </div>

      <div class="row">
      </div>
   </div>
</div>
