<!-- Schedule section -->
<div class="section scrollspy section-gray-section" id="schedule">
   <div class="container">
      <h4 class="center-align section-gray-header">Schedule</h4>

      <div class="row">
         <div class="col s12 m12 l12 section-gray-body">
            <p class="center-align">More details about the schedule will be announced soon.</p>
         </div>
         <div class="center-align">
            <div class="col s10 offset-s1 m4 offset-m2 l3 offset-l3">
               <a href="https://raw.githubusercontent.com/ncrescenzio/km2024/refs/heads/main/tex/info.pdf"
                  class="btn-large" style="width: 100%; font-weight: bold; background-color: {{site.color.primary-dark}}">
                  <i class="material-icons left">file_download</i>Download PDF
               </a>
            </div>
            <div class="col s10 offset-s1 m4 l3 button-space" >
               <a class="btn-large" id="my-default-button" style="width: 100%; font-weight: bold; background-color: {{site.color.primary-dark}}">
                  <i class="material-icons left">event</i>Add to Calendar
               </a>
            </div>

            <style>
               /* For small screens (small devices) */
               @media only screen and (max-width: 600px) {
                  .button-space {
                     margin-top: 10px; /* Adjust the value as needed */
                  }
               }
            </style>

            <script type="application/javascript">
               const config = {
                  name: "Kratos Multiphysics Workshop 2024",
                  startDate: "2024-10-13",
                  subscribe: true,
                  icsFile:"https://raw.githubusercontent.com/ncrescenzio/km2024/refs/heads/main/assets/meeting.ics",
                  options: ["Apple", "Google", "iCal", "Outlook.com"],
                  timeZone: "America/Los_Angeles"
               };
               const button = document.getElementById('my-default-button');
               if (button) {
                  button.addEventListener('click', () => atcb_action(config, button));
               }
            </script>

         </div>
      </div>

      <div class="row">
         <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
            <ul class="tabs">
               <li class="tab col s4"><a class="active" href="#day1"><span  style="font-weight: bold; font-size: 20px;">Day 1</span></a></li>
               <li class="tab col s4"><a href="#day2"><span  style="font-weight: bold; font-size: 20px;">Day 2</span></a></li>
               <li class="tab col s4"><a href="#day3"><span  style="font-weight: bold; font-size: 20px;">Day 3</span></a></li>
            </ul>
         </div>

         <!--- First Day -->
         {% for day in site.data.schedule.days %}
         <div id="{{day.name}}" class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
            {% for session in day.sessions %}
            <table class="schedule">
               <tbody>
                  {% if session.talks %}
                  <tr>
                     <th></th>
                     <td><h5>{{session.title}}</h5></td>
                  </tr>
                  {% for talk in session.talks %}
                  <tr>
                     <th>{{talk.start_time}}-{{talk.end_time}}</th>
                     {% assign talksp = site.data.talks[talk.label] %}
                     {% assign speaker = site.data.speakers[talksp.speaker] %}
                     <td>
                        {{talksp.title}}
                        <i>({{speaker.name}})</i>
                     </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr class="blue-grey lighten-5">
                     <th>{{session.start_time}}-{{session.end_time}}</th>
                     <td style="color: #a9b2b9; font-size: 15px; font-weight: 500">
                        {{session.title}}
                     </td>
                  </tr>
                  {% endif %}
               </tbody>
            </table>
            {% endfor %}
         </div>
         {% endfor %}
      </div>

      <div class="row">
      </div>
   </div>
</div>
