<!-- Speakers section -->
<div class="section scrollspy section-white-section" id="speakers">
  <div class="container">
    <h4 class="center-align section-white-header">Speakers</h4>

       <div class="row">
          <ul class="col s12 m10 offset-m1 l8 offset-l2" style="font-size: 20px">
             {% assign speakers = site.data.speakers %}
             {% for speaker in speakers %}
             <li style="margin-bottom:10px; margin-left:10px; list-style-type: disc">
                <span style="font-weight: bold">{{speaker.name}}</span>,
                <span style="font-style: italic">{{speaker.affiliation}}</span>
                {% if speaker.github %}
                <a href="{{speaker.github}}">
                   <i class="bi bi-github" style="padding-left: 5px"></i></a>
                {% endif %}
             </li>
             {% endfor %}
          </ul>
       </div>

  </div>
</div>
