<!-- Speakers section -->
<div class="section scrollspy section-white-section" id="speakers">
  <div class="container">
    <h4 class="center-align section-white-header">Speakers</h4>

       <div class="row">
          <ul class="col s12 m10 offset-m1 l8 offset-l2" style="font-size: 20px">
             {% assign speakers = site.data.speakers %}
             {% for speaker in speakers %}
             {% unless speaker[1].name == "TBA" %}
             <li style="margin-bottom:10px; margin-left:10px; list-style-type: disc">
                <span style="font-weight: bold">{{speaker[1].name}}</span>,
                <span style="font-style: italic">{{speaker[1].affiliation}}</span>
             </li>
             {% endunless %}
             {% endfor %}
          </ul>
       </div>

  </div>
</div>
